<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 error page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container ">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2 ">
            <div class="card card-body text-center">
                <img src="https://image.shutterstock.com/image-vector/404-error-page-not-found-260nw-1096004024.jpg" class="img-fluid">
                <h4 class="text-danger display-3">404</h4>
                <p>Page Not Found</p>
                <a href="/product/">Go To Product</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>